<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}NLP News Summarization{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <nav>
      <a href="{{ url_for('extractive') }}">Extractive Summarization</a>
      <a href="{{ url_for('abstractive') }}">Abstractive Summarization</a>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
